html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Amita', cursive;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.container > div {
  display: flex;
  flex-direction: column;

  align-items: start;
  justify-content: center;
}

.leftside {
  background-image: url('eberhard-grossgasteiger-pxJggZ7g1l0-unsplash.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  flex: 3;
  margin: 0;
}
@media only screen and (min-width: 800px) {
  .leftside {
    background-image: url('eberhard-grossgasteiger-pxJggZ7g1l0-unsplash.jpeg');
    background-size: cover;
  }
}

.rightside {
  background-color: slategrey;
  flex: 4;
}
.rightside > * {
  padding-left: 1rem;
  margin-top: 2rem;
}

#logobar {
  background-color: rgba(290, 120, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
  width: 100%;
}

section {
  margin-left: 0 !important;
  background-color: lightyellow;
  width: 100%;
  box-shadow: 0px 0px 20px gray;
}
form {
  display: grid;
  grid-template-columns: 2fr 0.2fr 2fr;
  gap: 1rem;
  margin: 1rem;
}

form label {
  display: block;
  font-size: 1.2rem;
}

input {
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 3rem;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  padding-left: 1rem;
}
input:focus {
  outline: 2px solid grey;
}

input:valid {
    box-shadow: 0 0 5px 2px green;
}
input:invalid {
    box-shadow: 0 0 5px 2px red;
}

button {
  height: 50px;
  width: 200px;
  border-radius: 5px;
  margin-left: 2rem;
  font-size: 1.2rem;
  justify-content: center;
  background-color: lightgrey;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

button:hover {
  background-color: limegreen;
  transition: 0.2s;
  outline: 4px solid purple;
}

/* .error {
  border: 4px solid purple;
} */